*
{
    padding: 0;
    box-sizing: border-box;
}

body 
{
  font-family:sans-serif; 
  color:white;
  background-color: rgb(159, 218, 215);
}

form{
    width:32rem;
    margin: auto;
    color:whitesmoke;
    border-radius: 30px;
    border: 1px solid rgba(26, 140, 206, 0.125);
    padding: 21px 26px;
    backdrop-filter: blur(16px) saturate(100%);
    background-color: rgba(11, 15, 13, 0.582);
}

input[type=password], input[type=text]{
    width: 100%;
    margin: 10px 0;
    border-radius: 8px;
    padding: 15px 18px;
    box-sizing: border-box;
    border: none;
}

button {
    background-color: #054e8a;
    color: white;
    padding: 14px 20px;
    border-radius: 8px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
    border: none;
  }

button:hover {
    opacity: 0.4;
    cursor: pointer;
}

.Container{
    text-align: center;
}

.main{
    padding: 16px;
}


.subcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subcontainer a{
    font-size: 16px;
    margin-bottom: 12px;
}

span.frgtpd a {
    float: right;
    color: whitesmoke;
    padding-top: 16px;
  }

.frgtpd a{
    color: rgb(62, 20, 214);
  }
  
.frgtpd a:link{
    text-decoration: none;
  }

  .register{
    color: white;
    text-align: center;
  }
  
  .register a{
    color: rgb(62, 20, 214);
  }
  
  .register a:link{
    text-decoration: none;
  }
